  <div class="flex items-start gap-2 bg-white p-4 shadow rounded">
      <div class="shadow-[inset_0px_0px_10px_4px_rgba(43,72,241,0.20)] p-3 rounded-md">
          <img src="/images/index/adv1.svg" class="w-6 h-6" alt="" />
      </div>
      <span>Выезд менеджера бесплатно</span>
  </div>
  <div class="flex items-start gap-2 bg-white p-4 shadow rounded">
      <div class="shadow-[inset_0px_0px_10px_4px_rgba(43,72,241,0.20)] p-3 rounded-md">
          <img src="/images/index/adv2.svg" class="w-6 h-6" alt="" />
      </div>
      <span>Экспресс-доставка в подарок</span>
  </div>
  <div class="flex items-start gap-2 bg-white p-4 shadow rounded">
      <div class="shadow-[inset_0px_0px_10px_4px_rgba(43,72,241,0.20)] p-3 rounded-md">
          <img src="/images/index/adv3.svg" class="w-6 h-6" alt="" />
      </div>
      <span>Более 100 000 моделей</span>
  </div>
  <div class="flex items-start gap-2 bg-white p-4 shadow rounded">
      <div class="shadow-[inset_0px_0px_10px_4px_rgba(43,72,241,0.20)] p-3 rounded-md">
          <img src="/images/index/adv4.svg" class="w-6 h-6" alt="" />
      </div>
      <span>Дизайн-проект бесплатно</span>
  </div>
