<a href="<?php echo Catalog_Categories::a($c1['id'])?>">
    <div class="rounded h-full overflow-hidden bg-white shadow hover:shadow-lg transition p-2 sm:p-4 lg:p-8">
        <img src="<?php echo Config::pathRel('images') . Catalog_Categories::$imagePath . $c1['id']?>_212x159_0.<?php echo $c1['_img_ext']?>"
            alt="<?php echo hsch($c1['name'])?>" class="w-full  object-contain rounded-md mb-1" />
        <div class="font-medium text-sm md:text-base">
            <?php echo $c1['name']?>
        </div>
    </div>
</a>
