<!-- Карточка сертификата -->
<div
    class="bg-white rounded-lg shadow p-4 lg:p-6 flex flex-col shadow hover:shadow-lg transition-shadow duration-300"
>
    <div class="flex flex-col justify-center">
        <img
            src="/images/certificates/certificate.jpg"
            alt="Сертификат качества"
            class="max-w-full h-auto object-contain rounded-md cursor-pointer"
            data-modal-src="/images/certificates/certificate.jpg"
            data-modal-alt="Сертификат качества"
        />
        <div>
            <p class="font-semibold text-sm sm:text-lg">Сертификат на </p>
        </div>
    </div>
</div>
