<?php
function addOrReplaceQueryParam($key, $value) {
    $params = $_GET;

    // Удаляем лишний параметр p0, p1 (если он есть)
    unset($params['p0']);
    unset($params['p1']);

    $params[$key] = $value;

    $query = http_build_query($params);
    return $query ? '?' . $query : '';
}
?>

<div class="pagination-wrapper flex w-full justify-center items-center flex-col mt-4">
    <?php if($totalPages > 1) { ?>

    <!-- Кнопка "Загрузить еще" -->
    <?php if ($currentPage < $totalPages): ?>
    <div class="pagination-load-more-wrapper max-w-[300px] mb-4 w-full">
        <a
            href="<?php echo addOrReplaceQueryParam('page', $currentPage + 1); ?>"
            class="btn-load-more w-full bg-blue-600 text-white text-lg text-center font-medium py-4 px-4 rounded block hover:bg-blue-700 transition"
        >
            Загрузить еще
        </a>
    </div>
    <?php endif; ?>

    <!-- Пагинация для десктопа -->
    <div class="pagination-controls flex flex-wrap justify-center items-center mb-4 font-medium">
        <!-- Кнопка "Назад" -->
        <?php if($currentPage > 1) { ?>
        <a
            href="<?php echo addOrReplaceQueryParam('page', $currentPage-1); ?>"
            class="btn-prev px-3 sm:px-4 py-2 hover:bg-gray-200 rounded transition"
        >
            <svg
                width="9"
                height="16"
                viewBox="0 0 9 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M0.292793 7.29289C-0.0977311 7.68342 -0.0977311 8.31658 0.292793 8.70711L6.65675 15.0711C7.04728 15.4616 7.68044 15.4616 8.07097 15.0711C8.46149 14.6805 8.46149 14.0474 8.07097 13.6569L2.41411 8L8.07097 2.34315C8.46149 1.95262 8.46149 1.31946 8.07097 0.928932C7.68044 0.538408 7.04728 0.538408 6.65675 0.928932L0.292793 7.29289ZM1 8L1 7H0.9999L0.9999 8L0.9999 9H1L1 8Z"
                    fill="#020202"
                />
            </svg>
        </a>
        <?php } else { ?>
        <span class="btn-prev-disabled px-3 sm:px-4 py-2 rounded opacity-50 cursor-default">
      <svg
          width="9"
          height="16"
          viewBox="0 0 9 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
      >
        <path
            d="M0.292793 7.29289C-0.0977311 7.68342 -0.0977311 8.31658 0.292793 8.70711L6.65675 15.0711C7.04728 15.4616 7.68044 15.4616 8.07097 15.0711C8.46149 14.6805 8.46149 14.0474 8.07097 13.6569L2.41411 8L8.07097 2.34315C8.46149 1.95262 8.46149 1.31946 8.07097 0.928932C7.68044 0.538408 7.04728 0.538408 6.65675 0.928932L0.292793 7.29289ZM1 8L1 7H0.9999L0.9999 8L0.9999 9H1L1 8Z"
            fill="#020202"
        />
      </svg>
    </span>
        <?php } ?>

        <!-- Номера страниц (максимум 8) -->
        <?php
        $maxPages = 8;
        if ($totalPages <= $maxPages) {
            $start = 1;
            $end = $totalPages;
        } else {
            if ($currentPage <= 4) {
                $start = 1;
                $end = $maxPages;
            } elseif ($currentPage > $totalPages - 4) {
        $start = $totalPages - $maxPages + 1;
        $end = $totalPages;
        } else {
        $start = $currentPage - 3;
        $end = $currentPage + 4;
        }
        }
        for($i = $start; $i <= $end; $i++) {
        if($i == $currentPage) {
        echo '<span class="page-item active px-2 sm:px-4 py-2 border rounded-md bg-blue-600 text-white font-bold">' . $i . '</span>';
        } else {
        echo '<a href="' . addOrReplaceQueryParam('page', $i) . '" class="page-item px-2 sm:px-4 py-2 hover:bg-gray-200 rounded transition">' . $i . '</a>';
        }
        }
        ?>

        <!-- Кнопка "Вперед" -->
        <?php if($currentPage < $totalPages) { ?>
        <a
            href="<?php echo addOrReplaceQueryParam('page', $currentPage+1); ?>"
            class="btn-next px-3 sm:px-4 py-2 hover:bg-gray-200 rounded transition"
        >
            <svg
                width="9"
                height="16"
                viewBox="0 0 9 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M8.70721 8.70711C9.09773 8.31658 9.09773 7.68342 8.70721 7.29289L2.34325 0.928932C1.95272 0.538408 1.31956 0.538408 0.929032 0.928932C0.538508 1.31946 0.538508 1.95262 0.929032 2.34315L6.58589 8L0.929032 13.6569C0.538508 14.0474 0.538508 14.6805 0.929032 15.0711C1.31956 15.4616 1.95272 15.4616 2.34325 15.0711L8.70721 8.70711ZM8 8V9H8.0001V8V7H8V8Z"
                    fill="#020202"
                />
            </svg>
        </a>
        <?php } else { ?>
        <span class="btn-next-disabled px-4 py-2 rounded opacity-50 cursor-default">
      <svg
          width="9"
          height="16"
          viewBox="0 0 9 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
      >
        <path
            d="M8.70721 8.70711C9.09773 8.31658 9.09773 7.68342 8.70721 7.29289L2.34325 0.928932C1.95272 0.538408 1.31956 0.538408 0.929032 0.928932C0.538508 1.31946 0.538508 1.95262 0.929032 2.34315L6.58589 8L0.929032 13.6569C0.538508 14.0474 0.538508 14.6805 0.929032 15.0711C1.31956 15.4616 1.95272 15.4616 2.34325 15.0711L8.70721 8.70711ZM8 8V9H8.0001V8V7H8V8Z"
            fill="#020202"
        />
      </svg>
    </span>
        <?php } ?>
    </div>

    <!-- Кнопка "Все товары" -->
    <div class="pagination-show-all-wrapper max-w-[300px] w-full">
        <a
            href="<?php echo addOrReplaceQueryParam('onpage', -1); ?>"
            class="btn-show-all w-full border-2 border-blue-600 text-blue-600 font-medium text-lg text-center py-4 px-4 rounded block hover:bg-blue-50 transition"
        >
            Все товары
        </a>
    </div>
    <?php } ?>
</div>
