<!-- Карточка наша работа -->
<div
  class="bg-white rounded-lg shadow p-4 lg:p-6 flex flex-col shadow hover:shadow-lg transition-shadow duration-300"
>
  <a href="#" target="_blank"
     class="flex justify-center"
     rel="noopener noreferrer">
    <img
      src="/images/works/image.jpg"
      alt="Товар"
      class="max-w-full h-auto object-contain rounded-md mb-4"
    />
  </a>

  <!-- Название -->
  <div class="relative mb-1 h-[4.5rem]" >
    <h3
      class="font-medium text-sm sm2:text-base lg:text-lg leading-5 line-clamp-3 transition-all duration-200 absolute top-0 left-0 right-0 hover:line-clamp-none hover:z-10 hover:bg-white hover:shadow-lg hover:rounded hover:px-2 hover:py-1"
    >
      <a
        href="#"
        class="text-inherit hover:text-inherit block"
        target="_blank"
        rel="noopener noreferrer"
      >
        Perseo (Персео) - мебель для кабинета руководителя
      </a>
    </h3>
  </div>

</div>
